body {
    font-family: 'Arial', sans-serif;
    background-color: #050000;
    text-align: center;
    margin: 0;
    padding: 0;
}

#container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #bfdb34;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#ct1, #ct2, #ct3 {
    width: 50px;
    padding: 6px; 
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; 
}



h1 {
    color: #34db55;
    font-size: 24px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 7px;
}

#universityExam {
    width: 48px; /* Adjust the width as per your preference */
    padding: 5px; /* Adjust padding as needed */
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; /* Adjust font size as needed */
}

/* ... (rest of your CSS code) ... */


a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

a:hover {
    text-decoration: underline;
}